:root{
    --nav-txt-color: black;
    --prussian-blue:#173753;
    --iceberg:#6DAEDB;
    --tufts-blue:#2892D7;
    --charcoal:#1B4353;
    --Honolulu-blue:#1D70A2;
}


body {
  margin: 0%;
  padding: 0;
  border: 0;
  font-family: 'Lato',Helvetica, sans-serif, Arial;
  background: linear-gradient(to left,var(--Honolulu-blue),var(--prussian-blue));
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv{
    position: relative;
    z-index: 0;
    width: 700px;
    height: 90%;
    background-color: white;
    border-radius: .25rem;
    overflow: hidden;
}
.fondo{
    position: absolute;
    z-index: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;}
    .fondo-superior{
        width: 100%;
        display:flex;
        justify-content:start;
    }
    .fondo-inferior{
        width: 100%;
        display:flex;
        justify-content:flex-end;
    }
.circle{
    height: 300px;
    width: 300px;
    background-color: var(--charcoal);
    
}
.circle1{
    display: flex;
    clip-path: circle(66.2% at 0 0 );
}
.circle2{
    clip-path: circle(66.2% at 100% 100%);
}
.contenido{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    
}

.card {
width: 250px;
height: 250px;
margin: 10px 1.25%;
box-sizing: border-box;
padding: 10px 15px;
border-radius: 0.5rem;
background-color: rgba(255, 255, 255, .3);  
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
display: flex;
box-sizing: border-box;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
}
.card h3{
    margin-bottom: 0;
    color: var(--prussian-blue);
}
.card h4{
    color: var(--tufts-blue);
    margin-top: 0;
    margin-bottom: 0;
}
.card p{
    color: black;
    padding-left: 5px;
    font-size: clamp(.25rem,5vh, 1rem);
}
.card ul{
    list-style: none;
    display: flex;
flex-wrap: wrap;
width: 100%;
}
.card ul li{
    display: flex;
    justify-content: right;
    width: 45%;
    height: min-content;
    align-items: center;
    margin: 5px 5px;
}
.card ul li h5{
    margin: 0px 5px;
    color: black;
}
.quad{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 0.25rem;
}

.card-img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}
.card-img img {
    width: 100%;
}
.hobbies{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hobbies-item{
    width: 40%;
    margin: 5px 5px;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: .5rem;
    box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}
.hobbies-item img{
    width: 60%;
    height: 60%;
    border-radius: .5rem;
}
.hobbies-item h6{
    margin: 0;
    margin-top: 5px;
}
.contacto{
    display: flex;
    width: 90% !important; 
    height: 50px !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
    background-color: rgba(255, 255, 255, .8);  
}
.social{
    height: 100%;
    width: 40%;
    margin: 0px 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.social-item{
    height: 100%; 
    margin: 0px 10px;
    text-decoration: none;
}
.social-item img{
    height: 90%;
    width: auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body{
        height: 250vh;
    }

    .cv{
        width: 100%;
        height: 100%;
        overflow: scroll;
    }
    .card p{
        font-size: 14px;
    }
    .contacto{
        height: 100px !important;
        flex-direction: column;
        justify-content: center;
    }
    .social{
        height: 40%;
        margin-bottom: 10px;
    }
  }
  @media only screen and (min-width : 1224px) {
    .cv{
        width: 40%;
        height: 90%;
    }
   }
   @media (width: 1024px)
   {
    .card {
        height: 400px ;
        width: 300px;
    } 

   }
   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
and (orientation : landscape) {
    .cv{
        width: 70%;
        height: 90%;
    }  
  }
    @media (min-width : 650px) and (max-width : 1000px) 
     {
        .cv{
            width: 600px;
            height: 90%;
        }
}
